<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">TaskManager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <!-- Opciones visibles solo si no estás logueado -->
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item" *ngIf="!isLoggedIn">
        <a class="nav-link" routerLink="/signin">Signin</a>
      </li>
      <!-- Opciones visibles solo si estás logueado -->
      <ng-container *ngIf="isLoggedIn">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/tasks">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="/dashboard" role="button" data-bs-toggle="dropdown" aria-expanded="false"> Dashboard </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="/dashboard/stats">Stats</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="/dashboard/profile">Profile</a>
            </li>
          </ul>
        </li>
        <!-- Nueva Tarea, solo si el rol es admin -->
        <li class="nav-item" *ngIf="role === 'admin'">
          <a class="nav-link" routerLink="/taskform/:id">Nueva Tarea</a>
        </li>
        <!-- Opción de cerrar sesión -->
        <li class="nav-item">
          <a class="nav-link" (click)="logout()" role="button">SignOut</a>
        </li>
      </ng-container>
    </ul>
  </div>
</nav>
